* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 100vh;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin: 25px 0px 25px 0px;
    background-color: white;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
}

.title {
    font-size: 52px;
    font-weight: bold;
}

.grid-settings-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid-settings-apply {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.footer ul {
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: auto;
}